*{
   background: url(/IMG/110035125.jpg);
    background-attachment: fixed;
    background-size:cover;
    background-position: center;
}
body{
    background: rgba(255, 255, 255, 0.69);
    border-radius: 2px;
    /*border-top-right-radius: 40px;
    border-bottom-left-radius: 40px;*/
    border: 2px solid rgba(16, 0, 212, 0.58);
    height: 650px;
    /*width: 93%;*/
    padding: 20px;
    margin-bottom: 20px;
    position:relative;
}
body h1{
    background: none;
    color: #0a043b;
    font-size: px;
    font-family: BankGothic Lt BT;
    text-shadow:#0c375c 4px 2px 7px;
    text-align: center;
    /*margin:30px;*/
    margin-bottom: 35px;
}
/*body h2{
    background: none;
    color: #0a043b;
    font-size: px;
    font-family: BankGothic Lt BT;
    text-shadow:#0c375c 4px 2px 7px;
    text-align: center;
    margin:30px;
    margin-bottom: 35px;
}*/
#cod{
    background: #fff;
    height: 30px;
    border-radius:8px;
    /*border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;/*
    margin-left: 23px;*/
    padding-left: 5px;
    width: 200px;
    font-size: 14px;
    color: gray;
    border: 2px solid rgba(92, 96, 96, 0.47);

}
#buscador{
    align-content: center;
    background: none;/*
    margin-left: 385px;
    margin-right: 200px;*/
}
.busca{
    background: rgb(119, 0, 147);
    height: 36px;
    border-radius:8px;
    /*border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    width: 100px;*/
    padding-right:10px;
    padding-left: 10px;
    font-size: 15px;
    color: #f7f7f7;
    border: 2px solid #08015f;
}
.busca:hover{
    border: 2px solid #08015f;
    background: #6f015a;
    box-shadow: #100262 2px 2px 5px;
    text-shadow: #5f0101 3px 2px 1px;
}
.busca:active{
    transform: scale(0.99);
}
/*efectos de tabla*/
table{
    margin-top:20px;
    background: none;
   /*table-layout: auto;*/
}
#txt_code1{
    width: 60px;
    border-left:2px solid green;
}/*
#c_alumn{
    width:150px;
}
#c_out,#c_return,#c_place,#c_mot{
    width:100px;
}*/
th{
    background: greenyellow;
    border-bottom: 2px solid green;
    /*height:25px;*/
    font-family: Stylus BT;
}
td{
    padding:7px;
    border: none;
    text-align: center;
    background:none;
}
tr{
  background: rgba(255, 255, 255, 0.69);
}
tr:hover{
    background:rgba(158, 240, 202, 0.75);
}
#boton_inicio{
    padding-top: 20px;
    background: none;
    margin: 0px;
    float: right;
}

/*trabajando con el manu*/


