*{
    background-color: #e5e5e5
}
div.pastor{
    width: 400px;/*cuan anchosera el div*/
    height: 400px;/*cuan largo sera el div*/
    float: left;/*alienacion*/
    margin-top: 90px;/*margen superior*/
    margin-left: 210px;/*margen isquierdo*/
    margin-right: -80px/*seraracion entre div*/
}
div#ballena{
    background-color: rgb(200,101,31);
}
div#elias{
    background-color: rgb(22,145,100);

}
form{/*ojo recien lompongo*/
    margin: auto;
    width: 50%;/*cuan anchosera ser4a el cuadro*/
    max-width: 500px;/*maximo ancho*/
    background: linear-gradient(#f7f7ff, #dddddd, #a0a0a0);
    padding: 30px;/*relleno*/
    border: 1px solid rgba(0,0,0,0.2);
    border-radius: 10px;/*bordes del cuadro*/
}
img.usera{
    display: block;/*centrar*/
    margin: 50px auto;/*margen superion en el div*/
    background-color: red;
    width: 200px;/*proporcion de ancho imagen*/
    border-radius: 100px;/*dando forma a la imagen*/
}
img.userb{
    display: block;/*centrar*/
    margin: 50px auto;/*margen superion en el div*/
    background-color: red;
    width: 200px;/*proporcion de ancho imagen*/
    border-radius: 100px;/*dando forma a la imagen*/
}
