*{
    background:url(/IMG/IMG_1847.JPG);
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
}
body{
    background: rgba(255, 255, 255, 0.69);
    margin: 20px 50px;
    border-top-right-radius: 20px;
    border: 3px solid rgba(172, 168, 168, 0.97);
    height: 640px;
    padding: 10px 20px
}
body h1{
    background: none;
    color: #0a043b;
    font-size: px;
    font-family: BankGothic Lt BT;
    text-shadow:#0c375c 4px 2px 7px;
    text-align: center;
}
table{
    margin:40px 20px;
    border: 1px solid #000072;
    padding: 10px 10px;
}
div{
    background: none;
}
#buscador input[type="text"]{
    background: #fff;
    height: 40px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    margin-left: 40px;
    padding-left: 5px;
    width: 300px;
    font-size: 14px;
    color: gray;
    border: 2px solid rgba(92, 96, 96, 0.47);

}
#buscador input[type="button"]{
    background: rgb(147, 0, 0);
    height: 46px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    width: 100px;
    font-size: 15px;
    color: #f7f7f7;
    border: 2px solid #5f0101;
}
