*{
    margin: 0px;
    padding: 0px;
    -webkit-box-sizing:border-box ;
    -moz-box-sizing:border-box ;
    box-sizing:border-box ;
}
nav{
    background: rgba(105, 105, 105, 0.38);
}
.menu_bar{
    display: none;
}
nav a{
    text-decoration: none;
    padding: 20px;
}
