*{
    background: #04031a
}
div{
    margin:200px auto;
    background: rgba(255, 255, 255, 0.05);
    border-radius: 5px;
    width: 370px;
    height: 300px;
    display: block;
    border:2px solid rgba(47, 189, 242, 0.22)
}
h2{
    text-align: center;
    background: none;
    color: rgba(59, 154, 74, 0.85);
    margin: 27px ;
}
#pass,#user{
    color: aqua;
    border-radius: 5px;
    height: 35px;
    width: 260px;
    margin: 20px auto;
    display: block;
}
input[type="submit"]{
    color: #fff;
    border-radius: 5px;
    height: 45px;
    width: 100px;
    margin: auto;
    display: block;
}
