*{
    background: url(/IMG/bg.jpg);
    margin: 0px;
    padding: 0px;
    background-attachment:fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

}
body{
    margin: 0px;
    margin-top: 0px;
}
#fegado{
    padding: 10px;
    width: 40px;
    position:fixed;
    background: red;
    background-attachment: fixed;
    margin-top: 250px;
    border-radius: 10px;
    background: linear-gradient(rgba(0, 6, 149, 0.99),rgb(9, 5, 64));
    margin-left: 25px;
    border: 2px solid #000000;
    box-shadow: #000000 4px 4px 5px;
    background-size: cover;
    background-repeat: no-repeat;

}
#fegado:hover{
    transition:all 0.3s linear;
    padding: 20px;
    background: #c42c2c;
}

#fegado a{
    background: none;
   text-decoration: none;
    font-size: 30px;
}
#fegado a span{
    background: none;
    margin: 5px;
    color:#fff;

}
#fegado a span:hover{
    background: none;
    color: #ffff00;
    transition:all 0.3s linear;
}
img{
    width: 70px;
    position:fixed;
    background: none;
    background-attachment: fixed;
    margin-left: 40px;
}
#casa{
    background: rgba(255, 255, 255, 0.63);
    margin-top: 0px;
    background: linear-gradient(#00173c, rgba(48, 43, 160, 0.88),rgba(17, 216, 224, 0.35));
    float: inherit;
}
h1{
    font-family: Bookman Old Style;
    text-align: center;
    background: none;
    padding-top: 20px;
    text-shadow: black 3px 3px 4px;
    color: #bcd400;
    font-size: 40px;
}

header nav{
    background: #420045;
    margin-top: 50px;
    border-radius: 10px;
    padding-left: 20px;
}
#casa header nav a{
    padding: 10px;
    background-color: #2b08ef;
    text-decoration: none;
    font-family: cursive;
    color: aliceblue;
    border-bottom-left-radius: 5px;
    border-top-right-radius: 5px;
    background: linear-gradient(black, #1d1db1,black);
    transition:all 0.3s linear;
	box-shadow: 2px 2px 4px 0px #006773;
}
#casa header nav a:hover, audio:focus, audio:active{
        padding-top: 15px;
        padding-bottom: 15px;
        box-shadow: 15px 15px 20px rgba(0,0, 0, 0.4);
        transform: scale(1.05);
        background: linear-gradient(black, #ff0000,black);
}
span{
    margin: 5px;
    color: aqua;
}
#baner{
    background:rgba(255, 255, 255, 0.67);
    padding-top: 30px;
    height: 510px;
}
#baner h2{
    text-align: center;
    background: none;
}
#informacion{
    background:rgba(255, 248, 238, 0.83);
    padding-top: 30px;
    height: 675px;
}
#ambiente{
    background:rgba(78, 255, 0, 0.11);
    padding-top: 30px;
    height: 675px;
}
#encargados{
    background: linear-gradient(rgba(255, 246, 0, 0.28),rgba(136, 136, 227, 0.42), rgba(0, 0, 255, 0.16));
    padding-top: 30px;
    height: 675px;
}
/*Trabajkando con el formi¿ulario*/
#contactar{
    background: linear-gradient(rgba(255, 246, 0, 0.28),rgba(255, 255, 255, 0.32), rgba(0, 0, 255, 0.16));
    padding-top: 30px;
    height: 600px;
}
form{
    margin: auto;
    height: 500px;
    width: 600px;
    border-left: 8px solid red;
    border-bottom: 2px solid red;
    border-top: 2px solid red;
    border-radius: 30px;
    border-bottom-left-radius: 0px;
    padding: 30px;
    background: rgba(38, 3, 3, 0.31);
}
input{
    padding: 5px;
    padding-left: 5px;
    background: #0c0c10;
    margin: 10px;
    height: 30px;
    border-radius: 10px;
    color: aliceblue;
    border-left: 8px solid red;
}
footer{
    border-top: 4px solid rgba(38, 3, 3, 0.31);
    height:15px;
    background: #c42c2c;
    text-align: center;
    padding: 30px;
    border-bottom: 4px solid rgba(38, 3, 3, 0.31);
}
